* {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pause-screen {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 85%);
}

.pause-screen::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('../icons/play-circle.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 150px;
  aspect-ratio: 1 / 1;
}